PORT = 3002
DB_HOST = localhost
DB_USER = root
DB_PASSWORD = 
DB_NAME = ticketing_helpdesk

SESSION_SECRET = inserire_una_chiave_sicura

EMAIL_USER = inserire_indirizzo_gmail
EMAIL_PASSWORD = inserire_password_per_le_app
